@import './reset.css';

.d-none{
    display: none;
}
.d-block{
    display: inline-block;
}

#game{
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url(../images/sky.png);
}

.bird{
    width: 30px;
    height: 30px;
    position: absolute;
    left: calc(50% - 15px);
    top: 220px;
    background-image: url(../images/birds.png);
    animation: birdFly .8s steps(3,end) infinite;  
    transition: top .3s linear;
}

.start{
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 295px;
    left: calc(50% - 100px);
    z-index: 2;
    cursor: pointer;
    animation: start 0.3s linear infinite alternate;
}

.score{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: #fff;
    font-weight: bolder;
    user-select: none;
    z-index: 2;
}

.pipes{
    height: 600px;
    position: relative;
    overflow: hidden;
}

.pipe{
    width: 52px;
    height: 100%;
    position: absolute;
}

.pipe .pipe-up{
    position: absolute;
    top: 0;
    width: 100%;
    background-image: url(../images/pipe2.png);
    background-position-y: bottom;
}

.pipe .pipe-bottom{
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-image: url(../images/pipe1.png);

}

.end{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
}

.end .rank{
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 4;
}

.rank .over{
    font-size: 35px;
    font-weight: bolder;
    color: red;
}

.rank .result,.rank .end-score{
    margin-top: 20px;
    color: #ff0;
    font-size: 20px;
    font-weight: bold;
}

.rank ul{
    margin-top: 20px;
    color: #09f;
    text-align: left;
}

.rank li{
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    padding: 0 10px;
    font-size: 13px;
}

.rank li .rank-degree{
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    margin-right: 10px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background-color: #8ed9f5;
}

.rank li:nth-child(1) .rank-degree{
    background-color: #f54545;
}

.rank li:nth-child(2) .rank-degree{
    background-color: #ff8547;
}

.rank li:nth-child(3) .rank-degree{
    background-color: #ffac38;
}

.rank li .rank-score{
    display: inline-block;
    width: 30px;
}

.end .reset{
    color: #09f;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
}



@keyframes birdFly {
    0%{background-position-x: 0px}
    100%{background-position-x: -90px;}
}

@keyframes start {
    0%{color: #fff;font-size: 24px;}
    100%{color: #09f;font-size: 36px;}
}