body,dl,dd{
    margin: 0;
}
html,body{
    height: 100%;
}
body::after{
    content: '';
    clear: both;
    display: block;
}
header{
    height: 70px;
    line-height: 70px;
    background-color: #354457;
}
.left-menu dl dd.active{
    background-color: #ddd;
    color: #354457;
}
.logo{
    padding-left: 20px;
    color: #b3bcc5;
    font-size: 14px;    
}
.logo>img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
.left-menu{
    width: 200px;
    background-color: #4d5e70;
    float: left;
    height: calc(100% - 70px);
}
.left-menu dl{
    line-height: 40px;
    font-size: 14px;
    color: #b3bcc5;
}
.left-menu dt{
    padding-left: 10px;
}
.left-menu dd{
    padding-left: 40px;
    cursor: pointer;
}
.left-menu dd:hover{
    background-color: rgba(255,255,255, 0.5);
    color: #354457;
}
.right-content{
    float: left;
    width: calc(100% - 200px);
    height: calc(100% - 70px);
    background-color: #eee;
    position: relative;
    overflow: scroll;
}
.right-content .content{
    position: absolute;
    width: 100%;
    display: none;
}
.student-add form,.dialog form{
    width: 400px;
    margin: 20px auto;
}
.student-add form>div,.dialog form>div{
    margin: 10px 0;
}
.dialog form input[type='text']{
    border: 1px solid;
}
.student-add form label:not(.sex),.dialog form label:not(.sex){
    width: 80px;
    text-align: right;
    display: inline-block;
    margin-right: 10px;
}
.student-add form .btn,.dialog form .btn{
    padding: 5px 27px;
}

.right-content .content.show-content{
    display: block;
}

.right-content .student-list table{
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}
.right-content .student-list thead{
    background-color: #e3e8ee;
    color: #646987;
}
.right-content .student-list tbody {
    background-color: #fff;
}
.right-content .student-list tbody .btn{
    border: none;
    outline: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}
.right-content .student-list tbody .btn.edit{
    background-color: #5cb85c;
}
.right-content .student-list tbody .btn.remove{
    background-color: #d9534f;
}
.dialog{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.5);
    display: none;
}
.dialog .dialog-content{
    width: 500px;
    height: 500px;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.dialog .dialog-content h3{
    padding-left: 30px;
}
.dialog.show{
    display: block;
}