.my-page{
    display: flex;
}
.my-page li{
    list-style: none;
    padding: 5px 10px;
    border: 1px solid #ddd;
    margin: 5px;
    cursor: pointer;
}
.my-page li.my-page-current{
    background-color: #428bcaff;
    color: #fff;
}
.my-page span{
    line-height: 30px;
}